@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: white;


}


.Electo-h2 {
  font-size: 27px;
  font-family: system-ui, Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.26px;
}

.Electo-h4 {
  font-size: 20px;
  font-family: system-ui, Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
  line-height: 1.235;
  letter-spacing: -0.06px;
}

.Electo-h3 {
  font-size: 24px;
  font-family: system-ui, Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 600;
  line-height: 1.167;
  letter-spacing: -0.06px;
}

.Electo-h5 {
  font-size: 16px;
  font-family: system-ui, Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
  line-height: 1.334;
  letter-spacing: -0.05px;
}

.MuiAlert-root {
  display: flex;
  padding: 4px 12px;
  font-size: 0.875rem;
  font-family: system-ui, sans-serif;
  font-weight: 400;
  line-height: 1.43;
  border-radius: .5rem;
  background-color: transparent;
  fill: currentColor;
}

.MuiAlert-standardWarning {
  color: rgb(98, 63, 4);
  background-color: rgb(254, 245, 230);
}

.MuiAlert-icon {
  display: flex;
  opacity: 0.9;
  /* padding: 7px 0; */
  font-size: 22px;
  margin-right: 12px;
}

/* --- FIXES START HERE --- */

/* 1. Add 'px' and ensure width/height use 'em' to scale */
.MuiSvgIcon-root {
  user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  /* vital for the color to work */
  flex-shrink: 0;
}

.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
  /* Or use '24px', but 'inherit' is safer for icons */
}


.MuiAlert-standardWarning .MuiAlert-icon {
  color: #F59E0B;
}

.MuiTypography-body1 {
  font-size: 1rem;
  font-family: system-ui, Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  line-height: 1.5;
}

.MuiTypography-body2 {
  font-size: 0.875rem;
  font-family: system-ui, Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  line-height: 1.43;
}

.jss91 {
  font-weight: 300;
}

.MuiTypography-h6 {
  font-size: 14px;
  font-family: system-ui, Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.05px;
}

.MuiDivider-root {
  border: none;
  height: 1px;
  margin: 0;
  flex-shrink: 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.MuiTypography-subtitle1 {
  font-size: 1rem;
  font-family: system-ui, Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 400;
  line-height: 1.75;
}

.jss223 {
  color: #b0bec5;
  font-size: 20px;
  font-weight: 400;
  margin-right: 32px;
  text-transform: initial;
}

.MuiTypography-subtitle2 {
  font-size: 0.875rem;
  font-family: system-ui, Inter, ui-sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-weight: 500;
  line-height: 1.57;
}